@media screen and (orientation: landscape) {
	.footer {
		position: relative;
	}
}
/* ==========  Desktop First  ========== */
/* Extra Large Devices, Extra Wide Screens */

@media only screen and (max-width : 1800px){	
	body{
		max-height: 100vh;
	}
	
	.h1 {
		font-size: 84px;
	}
	
	.md-fz {
		font-size: 16px;
		line-height: 22.5px;
	}
	
	nav {
		margin-top: 16px;
	}
	
	.image-mlvch {
		transform: scale(0.9);
	}
	
		
	.main-text {
		margin-top: 45px;
		margin-bottom: 110px;
	}
	
	.main-text p {
		margin-top: 18px;
	}
	
	
	.button {
		width: 138px;
	}
}
/**/



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.empty {
		display: none;
	}


	.select-lang {
		text-align: right;
	}

	.image-mlvch {
		text-align: left;
		margin-left: 0px;
		transform: scale(1);
	}

		
}
	/**/
	
		 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.h1 {
		font-size: 72px;
	}
	
}
	/**/
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	.h1 {
		font-size: 64px;
	}


	body {
		min-height: 500px;
		padding-left: 32px;
		padding-right: 32px;
	}

	.main-text {
		text-align: justify;
	}

	p {
		padding-right: 20px;
		display: block;
	}

	.next-row {
		display: inline;
	}
	
	.next-row1 {
		display: block;
	}

 .portfolio {
	margin-left: 18px;
}

}

	/**/
	
/* Custom, 	 */
@media only screen and (max-width : 400px) {
	body {
		padding-bottom: 50px;
	}

	.h1 {
		font-size: 48px;
	}
	 
	.md-fz {
		font-size: 13px;
	}

	.main-text {
		margin-top: 75px;
		margin-bottom: 150px;
	}


	.button {
		padding: 14px 18px;
		width: 105px;
		height: 48px;
	}
}
	/**/
