/* ==========  Desktop First  ========== */
/* Extra Large Devices, Extra Wide Screens */
@media only screen and (max-width : 1440px){
	:root {
		font-size: 16px;
		
	}
			
	#preloader img{
		transform: scale(0.2);
	}
	
	body {
		background-color: cadetblue;
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		/* background-image: url("../images/background.svg"); */
	}

	/* Header */
	
	.header-wrap {
		height: 285px;
	}
	
	/* Entry part */
	
	.button {
		font-size: 1rem;
	}
		
	.reg {
		font-size: 12px;
	}
	
	/* Program */
	
	.time {
		padding-right: 28px;
	}

	.event, .event-first {
		padding-left: 60px;
		padding-right: 286px;
	}

	
	.row-one{
		bottom: 189px;
	}
	.row-two{
		bottom: 141px;
	}
	.row-three{
		bottom: 93px;
	}
	.row-four{
		bottom: 44px;
	}
	.row-five{
		bottom: -5px;
	}
}
/**/

@media only screen and (max-width : 1400px){
	:root {
		--video-width: 	1140px;
	}


	.time{
		padding-right: 33px;
	}
	

	.event, .event-first {
		padding-left: 47px;
		padding-right: 183px;
	}

	.modalka .button {
		font-size: 1.25rem;
	}
	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	:root {
		font-size: 13px;
		--video-width: 960px;
	}

	
	.header .logo {
		transform: scale(0.9);
	}

	/* Entry part */
	.entry-box {
		height: 245px;
		padding: 25px 40px 20px 40px;
	}	

	.viewers-box {
		margin-bottom: 22px;
	}
	
	.viewers-box .h5 {
		font-size: 1rem;
	}

	.button {
		padding: 18px 52px;
	} 

	.button-date {
		padding: 18px 24px;
	}


	/* Program */
	.program{
		margin-top: 180px;
	}

	.buttons {
		margin-bottom: 28px;
	}

 	.time {
		 padding-right: 24px;
	 }



	.event, .event-first {
		padding-left: 64px;
		padding-right: 145px;
	}

	.header-button-box .button{
		padding: 16px 24px;
	}

	.header-button{
		margin-left: 35px;
	}

	.lang-box .h4 {
		font-size: 2rem;
	}

	.lang-buttons{
		padding: 0 30px;
		bottom: 30px
	}

	.lang-box .button {
		font-size: 1.5rem;
	}

	.modalka .button {
		padding: 16px 20px;
		margin-top: 40px;
	}

}

	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	:root {
		font-size: 10px;
		--video-width: 	720px;
	}

	.header .logo {
		transform: scale(0.8);
	}
	.header-wrap {
		height: 205px;
	}
	
	.entry-box{
		height: 205px;
		padding: 18px 20px 20px 20px;
	}


	.viewers-box {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	.viewers {
    width: 51px;
		min-height: 34px;
	}
	.reg {
		font-size: 8px;
	} 

	.button-date {
		margin-right: 10px;
		padding: 14px 16px;
	}

	.time {
    padding-right: 18px;
	}

	

	.event, .event-first {
    padding-left: 36px;
    padding-right: 112px;
	}

	.facebook {
    margin-left: 10px;
	}	

	.app-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.gplay{
		margin-left: 0;
		margin-top: 10px;
	}

	.privacy {
    margin-top: 16px;
	}

	.header-button-box .button{
		padding: 8px 18px;
	}

	.modalka-box .h4 {
		font-size: 2rem;
	}



}	
	/**/
	
		 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	:root {
		--video-width: 540px;
	}
	.header .logo {
		transform: scale(0.7);
	}

	.entry-box{
		margin-top: 30px;
	}

	.viewers {
    width: 43px;
    min-height: 29px;
	}

	.time-point {
		width: 15px;
		height: 15px;
		right: -9px;
    bottom: -8px;
	}

	.event, .event-first {
    padding-right: 83px;
	}

	.speaker-name{
		max-width: 140px;
		margin: auto;
	}

	.open-broadcasts{
		padding: 10px 18px;
	}

	.broadcast-name {
		width: 25%;
	}

	.broadcast-time {
		width: 42%;
	}

	.broadcast-connect {
		width: 33%;
	} 

	.broadcast-connect .button {
		padding: 15px 11px;
	}
}
	/**/
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {

	:root {
		font-size: 9px;
		--video-width: 85%;
	}

	.header .logo {
    transform: scale(0.6);
	}

	.entry-box {
		max-width: 415px;
	}

	
	.table-wrap{
		overflow-x: auto;
	}

	.buttons{
		overflow-x: auto;
		width: 100%;
		margin: auto;
	}
	
	.button-date {
		margin-bottom: 10px;
		padding: 6px 7px;
	}


	.speaker-name {
		padding: 16px 33px;
	}

	.edu-space-heading .h2 {
		font-size: 3rem;	
	}



	.app-box {
		align-items: flex-start;
		margin-top: 32px;
	}

	.footer .mob-app {
		margin-bottom: 10px;
	}

	.header-wrap.broadcast {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
		height: 210px;
		text-align: center;
	}

	.lang.broadcast {
    padding-top: 26px;
		padding-right: 8px;
	}

	.header-button-box {
		padding-top: 10px;
	}
	.header-button-box .button {
		padding: 8px 18px;
	}

	.header-button {
		flex-direction: column;
	}

	
	img.account {
		margin-right: 0;
	}

	.broadcast-name .h5 {
		font-size: 8px;
	}

	.broadcast-time .h5, .broadcast-connect .h5{
		font-size: 9px;
	}

	.live-stream{
		height: 280px;
	}

	.videostream {
		width:  var(--video-width);
		height: 200px;
	}

	#lang-choice, .modalka {
		width: 300px;
		left: calc(50% - 300px / 2);
	}

}

	/**/
	
/* Custom, 	 */
@media only screen and (max-width : 320px) {
	 
}
	/**/
