/* ==========  Desktop First  ========== */
/* Extra Large Devices, Extra Wide Screens */
@media only screen and (max-width : 1440px){
	:root {
		font-size: 16px;
		
	}
			
	#preloader img{
		transform: scale(0.2);
	}
	
	body {
		background-color: cadetblue;
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		/* background-image: url("../images/background.svg"); */
	}
	
		
	

	
	
	/* Header */
	

	.header-wrap {
		height: 285px;
	}
	
	/* Entry part */
	
	.button {
		font-size: 1rem;
	}
		
	.reg {
		font-size: 12px;
	}
	
	/* Program */
	
	.time {
		padding-right: 28px;
	}

	.event, .event-first {
		padding-left: 60px;
		padding-right: 286px;
	}

	
	.row-one{
		bottom: 189px;
	}
	.row-two{
		bottom: 141px;
	}
	.row-three{
		bottom: 93px;
	}
	.row-four{
		bottom: 44px;
	}
	.row-five{
		bottom: -5px;
	}
}
/**/

@media only screen and (max-width : 1400px){
	:root {
		--video-width: 	1140px;
	}


	.time{
		padding-right: 33px;
	}
	

	.event, .event-first {
		padding-left: 47px;
		padding-right: 183px;
	}

	.row-one{
		bottom: 190px;
	}
	.row-two{
		bottom: 141px;
	}
	.row-three{
		bottom: 92px;
	}
	.row-four{
		bottom: 43px;
	}
	.row-five{
		bottom: -6px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	:root {
		font-size: 13px;
		--video-width: 960px;
	}

	
	.header .logo {
		transform: scale(0.9);
	}

	/* Entry part */
	.entry-box {
		height: 245px;
		padding: 25px 40px 20px 40px;
	}	

	.viewers-box {
		margin-bottom: 22px;
	}
	
	.viewers-box .h5 {
		font-size: 1rem;
	}

	.button {
		padding: 18px 52px;
	} 

	.button-date {
		padding: 18px 24px;
	}


	/* Program */
	.program{
		margin-top: 180px;
	}

	.buttons {
		margin-bottom: 28px;
	}

 	.time {
		 padding-right: 24px;
	 }



	.event, .event-first {
		padding-left: 64px;
		padding-right: 145px;
	}
	.row-one{
		bottom: 174px;
	}
	.row-two{
		bottom: 130px;
	}
	.row-three{
		bottom: 84px;
	}
	.row-four{
		bottom: 39px;
	}
	.row-five{
		bottom: -5px;
	}


	.header-button-box .button{
		padding: 16px 24px;
	}

	.header-button{
		margin-left: 35px;
	}
}

	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	:root {
		font-size: 10px;
		--video-width: 	720px;
	}

	.header .logo {
		transform: scale(0.8);
	}
	.header-wrap {
		height: 205px;
	}
	
	.entry-box{
		height: 205px;
		padding: 18px 20px 20px 20px;
	}

	.viewers-box {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	.reg {
		font-size: 8px;
	} 

	.button-date {
		margin-right: 10px;
		padding: 14px 16px;
	}

	.time {
    padding-right: 18px;
	}

	

	.event, .event-first {
    padding-left: 36px;
    padding-right: 112px;
	}

	.row-one {
    bottom: 158px;
	}

	.row-two {
    bottom: 117px;
	}

	.row-three {
    bottom: 76px;
	}

	.row-four {
    bottom: 36px;
	}

	.header-button-box .button{
		padding: 8px 18px;
	}
}	
	/**/
	
		 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	:root {
		--video-width: 540px;
	}
	.header .logo {
		transform: scale(0.7);
	}

	.entry-box{
		margin-top: 30px;
	}

	.time-point {
		width: 15px;
		height: 15px;
		right: -9px;
    bottom: -8px;
	}

	.event, .event-first {
    padding-right: 83px;
	}


	.open-broadcasts{
		padding: 10px 18px;
	}

	.broadcast-name {
		width: 25%;
	}

	.broadcast-time {
		width: 42%;
	}

	.broadcast-connect {
		width: 33%;
	} 

	.broadcast-connect .button {
		padding: 15px 11px;
	}
}
	/**/
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {

	:root {
		font-size: 9px;
		--video-width: 280px;
	}

	.header .logo {
    transform: scale(0.6);
	}
	
	.table-wrap{
		overflow-x: auto;
		/* overflow-y: hidden; */
	}

	.buttons{
		overflow-x: auto;
		/* overflow-y: hidden; */
		width: fit-content;
		margin: auto;
	}
	
	.button-date {
		margin-bottom: 10px;
		padding: 6px 7px;
	}


	.header-wrap.broadcast {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
		height: 210px;
		text-align: center;
	}

	.lang.broadcast {
    padding-top: 26px;
		padding-right: 8px;
	}

	.header-button-box {
		padding-top: 10px;
	}
	.header-button-box .button {
		padding: 8px 18px;
	}

	.header-button {
		flex-direction: column;
	}

	
	img.account {
		margin-right: 0;
	}

	.broadcast-name .h5 {
		font-size: 8px;
	}

	.broadcast-time .h5, .broadcast-connect .h5{
		font-size: 9px;
	}

}

	/**/
	
/* Custom, 	 */
@media only screen and (max-width : 320px) {
	 
}
	/**/
