

:root {
	font-size: 18px;
	--video-width: 1320px;
	--lang-width: 384px;
}

* {
	margin: 0;
	padding: 0;
}

#preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F7F7F7;
	z-index: 100;
}

#preloader img{
	transform: scale(0.4);
}


body {
	/* background-color: cadetblue; */
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	background-image: url("../images/background.svg");
	background-size: 100%;
	background-repeat: repeat-y;
}


.h2 {
	font-size: 4rem;
	color: #FFFFFF
}

.h3 {
	font-size: 3rem;
	color: #87D723;
}

.h4 {
	font-size: 1.5rem;
	color: #87D723;
}

.h5 {
	font-size: 1.125rem;
}

.header-green {
	color: #87D723;
	text-align: center;
	font-weight: normal;
}

/* Modalka */

.modalka {
	margin-bottom: 20px;
	display: none;
}
.modalka-box {
	width: 384px;
	height: 210px;
	padding: 32px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid #78BE20;
	border-radius: 16px;
	
}

.modalka-box .h4, .modalka-box .next-row {
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	color: #78BE20;
}
 
.modalka-box .button {
	padding: 24px 130px;
	width: 320px;
	height: 64px;
	box-sizing: border-box;
	color: #A9A9A9;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #A9A9A9;
	margin-top: 24px;
}

/* Language choice */
#lang-choice{
	display: block;
	position: fixed;
	top: 10%;
	width: var(--lang-width);
  left: calc(50% - var(--lang-width)/2);
	z-index: 5;
	
}

#lang-choice.active{
	display: block;
	opacity: 1;
}



.lang-box {
	height: 210px;
	padding: 32px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid #78BE20;
	border-radius: 16px;
	
}

.lang-box .h4, .lang-box .next-row {
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	color: #78BE20;
}

.lang-buttons {
	display: flex;
	width: 287px;
} 

.lang-box .button {
	margin-left: 16px;
	padding: 16px 24px;
	box-sizing: border-box;
	color: #78BE20;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #78BE20;
	margin-top: 24px;
}

.lang-box .button.active {
	background-color: #78BE20;
	color: #FFFFFF;
}


/* Header */

.header {
  display: flex;
}

.header .logo {
	position: absolute;
	top: -131px;
  left: -60px;
}

.header .lang {
	box-sizing: border-box;
	text-align: right;
	padding-top: 33px;
	text-decoration: none;
	
}

.header-wrap {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 100%;
	height: 285px;
}


.header .lang a:focus, .header .lang a:link, 
.header .lang a:visited, .header .lang a:active  {
	color: #FFFFFF;
	outline: none;
	text-decoration: none;
}

.header .lang a:hover {
	text-decoration: underline;
}

/* Entry part */


.next-row {
	display: block;
	color: #FFFFFF;
}

.location {
	display: flex;
}

.entry-box {
	background-color: #FFFFFF;
	width: 100%;
	height: 305px;
	padding: 45px 40px 32px 40px;
	border: 1px solid #78BE20;
	border-radius: 16px;
	box-sizing: border-box;
	box-shadow: 0px 3px 10px rgba(77, 77, 77, 0.25);
}



#id-line {
	background: #EEEEEE;
	opacity: 0.8;
	width: 100%;
	padding: 11px 53px 11px 32px;
	border: none;
	border-radius: 40px;
	box-sizing: border-box;
}

#id-line:focus {
	outline: none;	
}

.id-line {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.viewers-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16px;
	height: 40px;
	width: 100%;
	text-align: center;
	margin-bottom: 32px;
}

.entry-box .button {
	width: 100%;
}

.viewers {
	width: 64px;
	margin-left: 8px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 6px;
	min-height: 40px;
	text-align: center;
}

.button {
	padding: 24px 130px;
	color: #FFFFFF;
	background: #78BE20;
	border-radius: 40px;
	font-weight: 700;
	text-align: center;
	border: none;
	font-size: 1.125rem;
	cursor: pointer;
	transition: opacity 0.25s ease;
}

.button:hover{
	opacity: 0.85;
}

.button:focus {
	outline: none;
}

.reg {
	margin-top: 16px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}

/* Program */

.program{
	margin-top: 280px;
}

.meeting-program {
	font-weight: 700;
	padding-bottom: 20px;
	font-size: 3.5rem;
} 

.buttons {
	display: flex;
	margin-bottom: 39px;
}

.button-date {
	background-color: rgba(255, 255, 255, 0);
	font-weight: 500;
	margin-right: 16px;
	padding: 18px 24px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	white-space: nowrap;
}


.button-date.active, .button-date:hover {
	background-color: rgba(255, 255, 255, 1);
	font-weight: 600;
	color: #25387C;
	outline: none;
	transition: 0.25s ease all;
}


.table-wrap{
	min-height: 210px;
}

.table-schedule{
	display: none;
}

.table-schedule.active{
	display: block;
}


td {
	position: relative;
  border-bottom: 1px solid #DCDCDC;
	padding-bottom: 12px;
	padding-top: 12px;
}

.time {
	color: #FFFFFF;
	padding-right: 25px;
	width: fit-content;
	white-space: nowrap;
}

.event, .event-first {
	padding-left: 55px;
	padding-right: 242px;	
	border-left: 1px solid #DCDCDC;
	color: #FFFFFF;
	font-weight: 600;
	white-space: nowrap;
}

.event-first {
	border-left: none;
}

.spokesman {
	color: #FFFFFF;
	white-space: nowrap;
}

.time-point {
	position: absolute;
	right: -10.5px;
	bottom: -10px;
	width: 18px;
	height: 18px;
	background-color: #FFFFFF;
	border-radius: 40px;
	z-index: 1;
}



.time-point:active{
	outline: none;
}

/* Speaker */

.speakers{
	padding-top: 100px;
	padding-bottom: 147px;
	white-space: nowrap;
	min-width: fit-content;
}

.speaker-heading{
	font-weight: 700;
	margin-bottom: 32px;
}

.speaker-wrapper {
	text-align: center;
	position: relative;
	padding-bottom: 97px;
}


.speaker-name {
	position: absolute;
	bottom: 67px;
	left: 0;
	right: 0;
	padding: 16px 78px;
	max-width: 100%;
	background-color: #FFFFFF;
	border-radius: 20px;
	z-index: 2;
}

.speaker-name .h4 {
	padding-bottom: 4px;
	color: #25387C;
}

.speaker-name p {
	color: #78BE20;
	font-size: 1rem;
	padding-bottom: 5px;
}


/* Edu space */
.edu-space {
	text-align: center;
	margin-bottom: 146px;
}

.edu-space-heading {
	margin-bottom: 32px;
}
.edu-space .button {
	font-weight: 700;
	font-size: 1.5rem;
} 

/* Footer */
.footer {
	box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.25);
	background-color: #373F77;
}

.footer-box {
	padding-top: 30px;
	padding-bottom: 29px;
}

.footer .h5 {
	color: #FFFFFF;
	font-weight: 700;
	margin-bottom: 5px;
	line-height: 1.125rem;
}

.footer .soc {
	color: #FFFFFF;
	font-size: 1.125rem;
	margin-bottom: 16px;
	line-height: 1.125rem;
}

.facebook {
	margin-left: 24px;
}

.footer .mob-app {
	color: #FFFFFF;
	font-size: 1.125rem;
	margin-bottom: 21px;
	line-height: 1.125rem;
}

.gplay {
	margin-left: 14px;
}
.privacy {
	margin-top: 68px;
}

.privacy-text {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1.4;
}


/* BROADCAST PAGE */
/* Header */

.header-wrap.broadcast {
	height: 230px;
}

.lang.broadcast {
	padding-top: 45px;
}

.header-button-box {
	box-sizing: border-box;
	padding-top: 24px;
	text-decoration: none;
}

.header-button {
	display: flex;
	align-items: center;
	margin-left: 55px;
	color: #78BE20;
	font-weight: 700;
	font-size: 1rem;
	padding: 16px 24px;
	border-radius: 60px;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
}

img.account {
	margin-right: 16px;
}

/* Entry part */
.advert.broadcast {
	margin-bottom: 24px;
}

.advert.broadcast .h2 {
	text-align: center;
	color: #87D723;
}

.advert.broadcast .h4 {
	text-align: center;
	color: #FFFFFF;
	margin-top: 24px;
}

.open-broadcasts {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	background: #FFFFFF;
	border: 1px solid #78BE20;
	box-sizing: border-box;
	box-shadow: 0px 3px 10px rgba(77, 77, 77, 0.25);
	border-radius: 16px;
	width: 100%;
	height: 80px;
	padding: 24px 32px;
	margin-bottom: 16px;
}

.broadcast-name, .broadcast-time, .broadcast-connect {
	width: 33%;
}

.broadcast-name {
	text-align-last: left;
}
.broadcast-connect {
	text-align: right;
}

.broadcast-time {
	display: flex;
	justify-content: start;
	align-items: center;
}

.broadcast-name .h5 {
	color: #78BE20;
}
.broadcast-time .h5 {
	color: #A9A9A9;
	font-weight: 500;
}

.broadcast-connect .button {
	padding: 16px 32px;
}

/* Program */

.program.broadcast {
	margin-top: 113px;
	margin-bottom: 100px;
}


/* LIVE PAGE */
/* Live */

.live-stream {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.live-stream .h5 {
	color: #F7F7F7;
	text-decoration: underline;
	margin-bottom: 24px;
}

.videostream {
	width: var(--video-width);
	height: calc((var(--video-width))/1.91);
}